html {
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // content height fix
  height: fill-available;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;

  // content height fix
  min-height: 100vh;
  min-height: fill-available;
  overflow-y: scroll;
  font-family: $font-family-default;
  font-size: #{$font-size-default}px;
  font-weight: 400;
  line-height: 1;
  color: $color-black;
  background-color: $color-white;
}

#__nuxt {
  display: flex;
  flex-direction: column;

  // content height fix
  flex-grow: 1;
}

.app {
  // content height fix
  flex-grow: 1;
}
