// colors
$color-white: #ffffff;
$color-black: #000000;

// paths
$fonts-path: '/fonts';
$images-path: '/images';

// timing
$time-fast: 150ms;
$time-normal: 250ms;
$time-slow: 350ms;

// font
$font-size-default: 16;
$font-family-name-default: 'Font Name';
$font-family-default: $font-family-name-default, sans-serif;

// other
// $gap: 40px;
// $gap-sm: 20px;
