// colors
$color-white: #ffffff;
$color-black: #000000;

// paths
$fonts-path: '/fonts';
$images-path: '/images';

// timing
$time-fast: 150ms;
$time-normal: 250ms;
$time-slow: 350ms;

// font
$font-size-default: 16;
$font-family-default-name: 'Font Name';
$font-family-default: $font-family-default-name, sans-serif;

// other
// $gap-desktop: 40;
// $gap-mobile: 20;
